<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BooksAndMusicSearch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E0F319861D5CDDD600FBA78F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E0F3199A1D5CDDD700FBA78F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E0F319A51D5CDDD700FBA78F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
